---
const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <meta name="theme-color" content="#01b477">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
  <nav>
    <div class="nav_inner">
      <span class="branding">ward</span>
      <span class="branding_description">simple text operations</span>
    </div>
  </nav>
  <main>
    <slot />
  </main>
  <footer>
    <div class="footer_inner">
      <span>Made with Astro by Nitrrine</span>
      <span>© Vital Team</span>
    </div>
  </footer>
</body>
</html>

<style>
  :root {
    --primary: #01b477;
  }

  * {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  nav {
    padding: 1em;
    background: #01b477;
    color: #fff;
  }

  .nav_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    max-width: 700px;
    width: 100%;
    margin: auto;
  }

  nav .branding {
    font-weight: 600;
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    padding: 1em;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }

  footer {
    padding: 1em;
    background: rgba(0, 0, 0, .2);
  }

  .footer_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
</style>