---
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta
      name="description"
      content="Ward is a tool for simple text operations, like flipping text or becoming a cat girl."
    />
    <meta name="theme-color" content="#01b477" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="manifest.json" />
  </head>
  <body>
    <nav>
      <div class="nav_inner">
        <span class="branding">ward</span>
        <span class="branding_description">simple text operations</span>
      </div>
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <div class="footer_inner">
        <span>Made with Astro by Nitrrine</span>
        <span>© Vital Team</span>
      </div>
    </footer>
  </body>
</html>
